
<!doctype html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="css/log.css">
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
          
       <title> login form </title>
       </head>
       <body>
         <body>
            <div class="" style="background-image: url(C:\xampp\htdocs\s1\assets\img\ZCK3sg.webp);">
           <div class="login-page">
             <div class="form">
               <div class="login">
                 <div class="login-header">
                   <h3>ADMIN LOGIN</h3>
                   <p></p>
                 </div>
               </div>
               <form action="admin" method="post" class="login-form">
                <label>enter name</label>
                 <input type="text" id="uname" name="uname" required>
                 <br>
                 <label>enter password</label>
                 <input type="password" id="pwd" name="pwd" required>

<div class="row justify-content-center my-3 px-3">
    <button class="btn-block btn-color">login</button>
</div>
<br>

<div class="row justify-content-center my-3 px-3">
    <button class="btn-block btn-color">forget password </button>
</div>

</form>
</body>
</body>
</html>