
   
       

      <!DOCTYPE html><html class="menu">
        <html>
        
        <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content=="IE=edge"/>
        <meta name="google" value="notranslate"/>
        <title>Side Menu</title>
        
        <link rel="stylesheet" type="text/css" href="css/sidemenu.css">
        <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        </head>
        <style>
          @import url('https://fonts.googleapis.com/css?family=Cairo');
body {
	background-color: #010;
}

.title {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	line-height:2
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	margin: 10px 0;
}

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

          /* video
        {
            position: absolute;
            top: 2;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 2;
            pointer-events:none;
            mix-blend-mode: screen;
        
        } */
        </style>
        <div class="title">
          <h1 align="center">welcome <%=uname %></h1>
          
         
          <a target="_blank" href="http://codepen.io/Moslim/" class="white-mode">OTHER PENS</a>
         </div>
        <body style="background-image:url('img/bg.jpg')" width="300px" height="100px"></div>
          <video src="css/.mp4" muted="" autoplay=""></video>
        <nav class="main-menu">
          <div>
            <a class="logo" href="http://startific.com">
            </a> 
          </div> 
        <div class="settings"></div>
        <div class="scrollbar" id="style-1">
              
        <ul>
          
        <li>                                   
        <a href="home">
        <i class="fa fa-home fa-lg"></i>
        <span class="nav-text">list</span>
        </a>
        <ul class="sub-menu">
          <li><a class="link-name" href="staffview">staff list</a></li>
          <li><a class="link-name" href="studview">student list</a></li>
        </ul>
        </li>   
      

        <li>                                   
          <a href="#">
           <i class="fa fa-user fa-lg"></i>
          <span class="nav-text">register</span>
          </a>
          <ul class="sub-menu">
            <li><a class="link-name" href="staffregistration">staff registration</a></li>
            <li><a class="link-name" href="studregistration">student registration</a></li>
            <li><a class="link-name" href="addclass">class</a></li>
            <li><a class="link-name" href="addsubject">subject</a></li>
            <li><a class="link-name" href="adddepartment">department</a></li>
          </ul>
          </li>   

            
            <li>                                   
                <a href="#">
                <i class="fa fa-edit fa-lg"></i>
                <span class="nav-text">view</span>
                </a>
                <ul class="sub-menu">
                  <li><a class="link-name" href="feedview">feedbackview</a></li>
                </ul>
                </li>  
                        <li>                                   
                            <a href="tableview">
                            <i class="fa fa-table fa-lg"></i>
                            <span class="nav-text">time table</span>
                            </a>
                            </li>  
                                <li>                                   
                                    <a href="logout">
                                    <i class="fa fa-sign-out fa-lg"></i>
                                    <span class="nav-text">logout</span>
                                    </a>
                                    </li>  
           
      <div class="addthis_default_style addthis_32x32_style">
          
       
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ff17589278d8b3a"></script>
                    </nav>
                 </body>
        </html> 












