

</html lang="en">
<h1 align="center">download Form</h1>class registration Form</h1>
<form class="fileupload"action="upload" align="center" method="post">
  <label>file</label>
<input type="file" id="file" name="file" value="" ><br/>
<input type="submit" name="submit"/>
<input type="reset">
</form>
</body>