
<!doctype html>
<html lang="en">

<head>
     <link rel="stylesheet" type="text/css" href="css/log.css">
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
          
       <title> login form </title>
       
       <body>
         <body>
            <div class="" style="background-image: url(C:\xampp\htdocs\s1\assets\img\ZCK3sg.webp);">
           <div class="login-page">
             <div class="form">
               <div class="login">
                 <div class="login-header">
                   <h3></h3>
                   <p></p>
                 </div>
                </div>
        <h1>welcome signup</h1>
<br>
<div class="dropdown">
    <button class="dropbtn">signup</button>
    <div class="dropdown-content">
        <a href="staffregistration">staffregistration</a>
        <a href="studregistration">studregistration</a>
    </div>
  </div>
<br>
</body>
</body>
</html>