
<!-- 
<html lang="en">
  <link href="/css/sam.css" rel="stylesheet">
          <h1 align="center">Staff registration Form</h1>
<form action="staffsave" align="center" method="post">
<label>staffid</label>
<input type="text" id="staffid" name="staffid" ><br/>
<label>staff Name</label>
<input type="text" id="staffname" name="staffname" placeholder="enter the staffname"><br/>
<label>department</label>
<input type="text" id="department" name="department" ><br/>
<label>email</label>
<input type="email" id="email" name="email" ><br/>
<label>officenumber</label>
<input type="number" id="officenumber" name="officenumber" ><br/>
<label>password</label>
<input type="password" id="password" name="password" ><br/>
<label>confirmpassword</label>
<input type="password" id="confirmpassword" name="confirmpassword" ><br/>
<label>position</label>
<select id="postion" name="postion">
    <option>lecture</option>
    <option>hod</option>
</select>
<br>
<input type="submit" name="submit">`
<input type="reset">
</form>
</body>
</html> -->