<html lang="en">
  <link rel="stylesheet" href="mbs.css">
<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello There!</div>
      <div class='subtitle'>We're almost done. Before using our services you need to create an account.</div>
      <div class='input-fields'>
        <input type='text' placeholder='Username' class='input-line full-width'></input>
        <input type='email' placeholder='Email' class='input-line full-width'></input>
        <input type='password' placeholder='Password' class='input-line full-width'></input>
      </div>
      <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div>
      <div><button class='ghost-round full-width'>Create Account</button></div>
    </div>
  </div>
</div>

<!-- <html lang="en">
<h1 align="center">student registration Form</h1>
<form  action="studsave" align="center" method="post">
    <label>studentname</label>
<input type="text" id="studentname" name="studentname" ><br/>
<label>course</label>
<select id="course" name="course">
    <option>msc</option>
    <option>bsc</option>
    <option>mca</option>
    <option>bcom</option>
    <option>mcom</option>
    <option>ba</option>
    <option>ma</option>
</select>
<label>department</label>
<input type="text" id="department" name="department" ><br/>
<label>email</label>
<input type="email" id="email" name="email" ><br/>
<label>personalnumber</label>
<input type="number" id="personalnumber" name="personalnumber" ><br/>
<label>password</label>
<input type="password" id="password" name="password" ><br/>
<label>confirmpassword</label>
<input type="password" id="confirmpassword" name="confirmpassword" ><br/>
   <label>semester</label>
<select id="semester" name="semester">
    <option>1stsemester</option>
    <option>2ndsemester</option>
    <option>3rdsemester</option>
    <option>4thsemester</option>
    <option>5thsemester</option>
    <option>6thsemester</option>
</select>
<br>
<label>academicyear</label>
<input type="text" id="academicyear" name="academicyear" ><br/>
<label>date</label>
<input type="date" id="date" name="date"><br/>
<br>
<input type="submit" name="submit">
<input type="reset">
</form>
</body>
</html> -->