


<html lan="en">
<body>
    <h1>TIME TABLE</h1>
    <form action="timetable" method="post">
    <table contenteditable border="10" cellspacing="0" align="center">
      <!-- <script>
        function editrecords(val){
            window.location.href="/timetable/"+val;
        }
        $.get('/getdata',{},function(result){
            let res="";
            result.forEachCdata=>{
                res+='<tr><td>{$data.id}</td>
            }
        })
      </script> -->

        <!--<caption>Timetable</caption>-->
        <tr>
            <td align="center" height="50"
                width="100"><br>
                <b>Day/Period</b></br>
            </td>
            <td align="center" height="50"
                width="100">
                
            </td>
            <td align="center" height="50"
                width="100">
                
            </td>
            <td align="center" height="50"
                width="100">
                
            </td>
            <td align="center" height="50"
                width="100">
                
            </td>
            <td align="center" height="50"
                width="100">
               
            </td>
            <td align="center" height="50"
                width="100">
                
            </td>
            <td align="center" height="50"
                width="100">
               
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>I</b></td>
                <td  align="center"height="50"></td>
                <td align="center" height="50"></td>
                <td align="center" height="50"></td>  
           <td rowspan="12" align="center" height="50">
                <h2>L<br>U<br>N<br>C<br>H</h2>
            </td>
            <td  align="center"height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
        <tr>
           <td align="center" height="50">
                <b>II</b>
            </td>
            <td  align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>III</b>
            </td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"> </td>
            <td align="center" height="50"></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>IV</b>
            </td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td  align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>V</b>
            </td>
            <td align="center"height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>VI</b>
            </td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td  align="center" height="50"></td>
            <td align="center" height="50"></td>
            <td align="center" height="50"></td>
        </tr>
    </table>
    </form>
  
</body>
 
</html>