<html lang="en">
    <link rel="stylesheet" href="wave.css">
<body>
    <div>
       <div class="wave"></div>
       <div class="wave"></div>
       <div class="wave"></div>
    </div>
  </body>
  </html>